body{
    background: lightblue;
    color: white;
    text-align: center;
}
button{
    background: black;
    width: 100px;
    color: yellow;
    cursor: pointer;
    font-size: 10px;
    border-radius: 20px;
    transition: 3s;
    
}
.night{
    background: black;
    color: yellow;
}
.night button{
    background: white;
    color: darkblue;
    
}




























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































