body{
    background-color: aqua;
    text-align: center;
}
#a{
    background: red;
    height: 200px;
    width: 200px;
    margin-left: 37%;;
    margin-right:50%;
    border-radius: 50%;
}
button{
    margin-top: 20px;
}