body{
    background-color: linen;
}
.grid{
    background: rgb(247, 247, 185); 
    padding: 20px;
    text-align: center;
    border:2px solid maroon ;
}
.main{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
    
}
#two{
    
}